.menu {
	position: relative;
	width: 280px;
	display: block;
	height: 100%;
	top: 0;
	left: -300px; /*was originally t right when the nav bar was on the right side*/
	position: fixed;
	z-index: 100;
	text-align: center;
	transition: left 0.1s; /** default on the right **/
	overflow-y: auto; /* makes the expanding nav scrollable */
}

.menu.nav-expanded {
	left: 0; /* was at right before, for nav bar to expand from left */
}

.menu .close {
	font-size: 30px;
	margin-right: 10px;
	margin-top: 10px;
}

.navbar__header {
	height: 50px;
	padding: 15px 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.nav__items__extra {
	padding: 7px 30px 7px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.menu .nav__items {
	padding-left: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.menu ul {
	list-style: none;
}

.nav__items li {
	height: 44px;
}

.menu h4 a {
	text-decoration: none;
}

.nav__items a {
	text-decoration: none;
	font-weight: 500;
}

/************************************
COLORING IN THE NAVBAR
************************************/
.navbar__default {
	background: #f4f4f4;
}

.navbar__white {
	background: #fff;
}

.navbar__black {
	background: #000;
	color: #fff;
}

.navbar__header__green {
	color: #28b463;
}

.navbar__header__green:hover {
	color: #28b463;
}

.navbar__header__white {
	color: #fff;
}

.navbar__header__white:hover {
	color: #fff;
}

.navbar__header__black {
	color: #000;
}

.navbar__header__black:hover {
	color: #000;
}

.navbar__header__purple {
	color: #6e3f81;
}

.navbar__header__purple:hover {
	color: #6e3f81;
}

.nco a {
	color: #6a6a6a;
}

.nco a:hover {
	background: #f7f7f7;
	border-left: 3px solid #28b463;
}

.category a,
.back a {
	color: #6a6a6a;
}

.category a:hover,
.back a:hover {
	background: #f7f7f7;
}
/************************************
ENDING OF COLORING IN THE NAVBAR
************************************/
/************************************
SLIDE-OUT NAVIGATION STYLING ENDING
************************************/

.navbar__overlay {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 99;
}
